/*html{
  margin: 0;
  padding: 0;
}*/

body{
  background-color: #a18eb7;
}
.middle{
  width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#LS {
  display: inline-block;
  width: 340px;
  height: 400px;

  box-sizing: border-box;
  border: 1px solid black;

  margin-right: 10px;
  float: left;

}

#L {
  background-color: #634f6f;

  display: inline-block;
  width: 250px;
  height: 100px;

  box-sizing: border-box;
  border: 1px solid black;

  margin-bottom: 10px;
  float: left;

}

#S {
  background-color: #634f6f;

  display: inline-block;
  width: 250px;
  height: 290px;

  box-sizing: border-box;
  border: 1px solid black;
  float: left;

}

.formElement{
height: 25px;

}

#signupButton, #loginButton{
  float: right;
}

#signup{

}

h3{
  height: 14px;
  text-align: center;
}
#login{
    padding-top: 11px;
}

input{
  width: 160px;
  float: right;
}
select{
  float: right;
  width: 160px;
}
